@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
  color: #fff;
  background-color: #131722;
  font-family: 'Montserrat', sans-serif;

}
.color-main{
  color: red;
}
a{
  color:#fff;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  color: red;
}
.active{
  color:red;
}

.logo{
  width: 50px;
}

.logout{
  cursor: pointer;
}

.brdr{
  background-color: #fff;
  height: 2px;
}
.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  width: 33%;
  justify-content: flex-start ;
}

.circular-chart {
  display: block;
  max-width: 20%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 3.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: red;
}


.percentage {
  fill: #fff;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}
.carouselItem{
  width: 80%;
}
.car-tex{
  font-size: 12px;
}
.carouselItem{
  cursor: pointer;
}

.keywords p{
  background-color: #c35252;
  display: inline-block;
  margin: 5px;
  font-size: 14px;
  padding:5px 10px;
  border-radius: 5px;
}
.actor__biography{
  font-size: 14px;
}