@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
  color: #fff;
  background-color: #131722;
  font-family: 'Montserrat', sans-serif;

}

a{
  color:#fff;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  color: red;
}
.active{
  color:red;
}

.logo{
  width: 50px;
}

.logout{
  cursor: pointer;
}

.brdr{
  background-color: #fff;
  height: 2px;
}